.layout__header {
  background-color: $gray;
  width: 100%;

  .container__header {
    margin: auto;
    width: 90%;
    .header__img-logo {
      width: 220px;
      margin: 10px 0px;
    }
  }

  .navbar-custom {
    padding: 0;
  }

  .nav-links-container {
    background-color: $yellow;

    .header__nav-links {
      margin: auto;
      padding: 10px 0px;
      width: 90%;

      .nav-links__item {
        color: $white;
        font-size: 16px;
        font-family: $font-family;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .layout__header {
    .nav-links-container {
      padding: 10px;
    }

    .header__nav-links {
      text-align: center;
    }
  }
}
